<header class="header">
  <img src="../assets/logo.png" alt="Quarantine Cinema Logo" />
  <div class="search-container">
    <nav>
      <ol class="nav-list">
        <li class="nav-item"><a class="nav-anchor" href="#">Home</a></li>
        <li class="nav-item"><a class="nav-anchor" href="#">Watch List</a></li>
      </ol>
    </nav>
    <form class="search-bar">
      <input
        type="text"
        name="search"
        id="search"
        placeholder="titles, actors, genre"
        ngModel
      />
    </form>
  </div>
</header>
