<header class="header">
  <img src="../assets/logo-hor.png" alt="Quarantine Cinema Logo" />
  <div class="search-container">
    <nav>
      <ol class="nav-list">
        <li class="nav-item">
          <a class="nav-anchor" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-anchor" routerLink="/watch-list">Watch List</a>
        </li>
      </ol>
    </nav>
    <form
      #searchForm="ngForm"
      class="search-bar"
      (ngSubmit)="getSearchTerm(searchForm)"
    >
      <input
        type="text"
        name="search"
        id="search"
        placeholder="titles, actors, genre"
        ngModel
      />
      <button>Search</button>
    </form>
  </div>
</header>
