<app-header class="header" (inputEvent)="search($event)"></app-header>

<h2>Trending Movies</h2>
<swiper [config]="config" class="swiper-container">
  <div class="swiper-wrapper">
    <app-trending
      *ngFor="let slide of trendingData?.results"
      class="swiper-slide"
      [slideRef]="slide"
      [genreList]="genres.genres"
    ></app-trending>
  </div>
  <!-- <div class="swiper-button-prev swiper-pagination"></div>
  <div class="swiper-button-next swiper-pagination"></div> -->
</swiper>

<hr />

<h2>Top-Rated Movies</h2>
<swiper [config]="config" class="swiper-container">
  <div class="swiper-wrapper">
    <app-top-rated
      *ngFor="let slide of topRated?.results"
      class="swiper-slide"
      [slideRef]="slide"
      [genreList]="genres.genres"
    ></app-top-rated>
  </div>
</swiper>

<hr />

<h2>Popular Movies</h2>
<swiper [config]="config" class="swiper-container">
  <div class="swiper-wrapper">
    <app-popular
      *ngFor="let slide of popular?.results"
      class="swiper-slide"
      [slideRef]="slide"
      [genreList]="genres.genres"
    ></app-popular>
  </div>
  <!-- <div class="swiper-button-prev swiper-pagination"></div>
  <div class="swiper-button-next swiper-pagination"></div> -->
</swiper>

<app-footer class="footer"></app-footer>
